body{

    background-color:black;
    color: white;
}
/* nav */
nav{
    margin: 10px;
    padding: 10px;
    border: 10px solid black
}

#navList li{
    list-style: none;
    display: inline;
    text-align: left;
    margin: 30px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: orange;
}

/* intro flexbox */
#intro{
    display: flex;
    height: 500px;
}
.me{
    display: flex;
}
#speech{
    display: flex;
    width: 50%;
    margin-left: 5px;
}
img .me{
    width: 50%;
    
}